.main_x{
    display: flex;
    justify-content: center;
}
.main_sub_x{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 500px;
}
.x{
    width: 130px;
    height: 130px;
    margin: 0.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(0, 0, 0);
    cursor: pointer;
}
.restart{
    display: block;
    margin-left: auto;
    margin-right: auto;     
    width: 400px;
    height: 50px;
    cursor: pointer;
    font-size: 18px;
}
#MyP{
    text-align: center;
    font-size: 40px;
}
#MyP1{
    text-align: center;
    font-size: 40px;
}